apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: quantierra-gha-selfhost-xl
  namespace: github-runners
  labels:
    org: quantierra
    stack: github-runners
    tier: selfhost-xl
spec:
  replicas: 1
  template:
    metadata:
      labels:
        org: quantierra
        queue: actions
        tier: selfhost-xl
        runner-deployment: quantierra-gha-selfhost-xl
    spec:
      organization: quantierra
      githubAPICredentialsFrom:
        secretRef:
          name: gha-controller-manager
      group: quantierra-gha
      image: ghcr.io/actions/actions-runner:2.329.0
      dockerdWithinRunnerContainer: false
      ephemeral: false
      nodeSelector:
        gha-tier: selfhost-l
      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 10.43.0.10
        searches:
          - github-runners.svc.cluster.local
          - svc.cluster.local
          - cluster.local
      labels:
        - quantierra-gha
        - linux
        - selfhost-xl
      resources:
        requests:
          cpu: "8"
          memory: 16Gi
        limits:
          cpu: "16"
          memory: 32Gi
      env:
        - name: ACTIONS_RUNNER_DEBUG
          value: "true"
        - name: ACTIONS_RUNNER_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
      volumeMounts:
        - name: work
          mountPath: /runner/_work
      volumes:
        - name: work
          emptyDir: {}
---
apiVersion: actions.summerwind.dev/v1alpha1
kind: HorizontalRunnerAutoscaler
metadata:
  name: quantierra-gha-selfhost-xl
  namespace: github-runners
spec:
  scaleTargetRef:
    name: quantierra-gha-selfhost-xl
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: PercentageRunnersBusy
      scaleUpThreshold: "0.7"
      scaleDownThreshold: "0.25"
      scaleUpFactor: "2"
      scaleDownFactor: "0.5"
---
apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: quantierra-gha-selfhost-l
  namespace: github-runners
  labels:
    org: quantierra
    stack: github-runners
    tier: selfhost-l
spec:
  replicas: 4
  template:
    metadata:
      labels:
        org: quantierra
        queue: actions
        tier: selfhost-l
        runner-deployment: quantierra-gha-selfhost-l
    spec:
      organization: quantierra
      githubAPICredentialsFrom:
        secretRef:
          name: gha-controller-manager
      group: quantierra-gha
      image: ghcr.io/actions/actions-runner:2.329.0
      dockerdWithinRunnerContainer: false
      ephemeral: false
      nodeSelector:
        gha-tier: selfhost-l
      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 10.43.0.10
        searches:
          - github-runners.svc.cluster.local
          - svc.cluster.local
          - cluster.local
      labels:
        - quantierra-gha
        - linux
        - selfhost-l
      resources:
        requests:
          cpu: "1"
          memory: 2Gi
        limits:
          cpu: "4"
          memory: 8Gi
      env:
        - name: ACTIONS_RUNNER_DEBUG
          value: "true"
        - name: ACTIONS_RUNNER_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
      volumeMounts:
        - name: work
          mountPath: /runner/_work
      volumes:
        - name: work
          emptyDir: {}
---
apiVersion: actions.summerwind.dev/v1alpha1
kind: HorizontalRunnerAutoscaler
metadata:
  name: quantierra-gha-selfhost-l
  namespace: github-runners
spec:
  scaleTargetRef:
    name: quantierra-gha-selfhost-l
  minReplicas: 4
  maxReplicas: 10
  metrics:
    - type: PercentageRunnersBusy
      scaleUpThreshold: "0.7"
      scaleDownThreshold: "0.25"
      scaleUpFactor: "2"
      scaleDownFactor: "0.5"
---
apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: quantierra-gha-selfhost-m
  namespace: github-runners
  labels:
    org: quantierra
    stack: github-runners
    tier: selfhost-m
spec:
  replicas: 2
  template:
    metadata:
      labels:
        org: quantierra
        queue: actions
        tier: selfhost-m
        runner-deployment: quantierra-gha-selfhost-m
    spec:
      organization: quantierra
      githubAPICredentialsFrom:
        secretRef:
          name: gha-controller-manager
      group: quantierra-gha
      image: ghcr.io/actions/actions-runner:2.329.0
      dockerdWithinRunnerContainer: false
      ephemeral: false
      nodeSelector:
        gha-tier: selfhost-m
      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 10.43.0.10
        searches:
          - github-runners.svc.cluster.local
          - svc.cluster.local
          - cluster.local
      labels:
        - quantierra-gha
        - linux
        - selfhost-m
      resources:
        requests:
          cpu: "1"
          memory: 2Gi
        limits:
          cpu: "4"
          memory: 8Gi
      env:
        - name: ACTIONS_RUNNER_DEBUG
          value: "true"
        - name: ACTIONS_RUNNER_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
      volumeMounts:
        - name: work
          mountPath: /runner/_work
      volumes:
        - name: work
          emptyDir: {}
---
apiVersion: actions.summerwind.dev/v1alpha1
kind: HorizontalRunnerAutoscaler
metadata:
  name: quantierra-gha-selfhost-m
  namespace: github-runners
spec:
  scaleTargetRef:
    name: quantierra-gha-selfhost-m
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: PercentageRunnersBusy
      scaleUpThreshold: "0.7"
      scaleDownThreshold: "0.25"
      scaleUpFactor: "2"
      scaleDownFactor: "0.5"
---
apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: quantierra-gha-selfhost-s
  namespace: github-runners
  labels:
    org: quantierra
    stack: github-runners
    tier: selfhost-s
spec:
  replicas: 4
  template:
    metadata:
      labels:
        org: quantierra
        queue: actions
        tier: selfhost-s
        runner-deployment: quantierra-gha-selfhost-s
    spec:
      organization: quantierra
      githubAPICredentialsFrom:
        secretRef:
          name: gha-controller-manager
      group: quantierra-gha
      image: ghcr.io/actions/actions-runner:2.329.0
      dockerdWithinRunnerContainer: false
      ephemeral: false
      nodeSelector:
        gha-tier: selfhost-s
      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 10.43.0.10
        searches:
          - github-runners.svc.cluster.local
          - svc.cluster.local
          - cluster.local
      labels:
        - quantierra-gha
        - linux
        - selfhost-s
      resources:
        requests:
          cpu: "1"
          memory: 2Gi
        limits:
          cpu: "2"
          memory: 4Gi
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              runner-deployment: quantierra-gha-selfhost-s
      env:
        - name: ACTIONS_RUNNER_DEBUG
          value: "true"
        - name: ACTIONS_RUNNER_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
      volumeMounts:
        - name: work
          mountPath: /runner/_work
      volumes:
        - name: work
          emptyDir: {}
---
apiVersion: actions.summerwind.dev/v1alpha1
kind: HorizontalRunnerAutoscaler
metadata:
  name: quantierra-gha-selfhost-s
  namespace: github-runners
spec:
  scaleTargetRef:
    name: quantierra-gha-selfhost-s
  minReplicas: 4
  maxReplicas: 8
  metrics:
    - type: PercentageRunnersBusy
      scaleUpThreshold: "0.7"
      scaleDownThreshold: "0.25"
      scaleUpFactor: "2"
      scaleDownFactor: "0.5"
