githubConfigUrl: "https://github.com/urandomio"
githubConfigSecret:
  github_token: "REDACTED"

runnerGroup: "Default"

minRunners: 2
maxRunners: 4

runnerScaleSetName: "urandomio-s"

template:
  spec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: gha-tier
                  operator: In
                  values:
                    - selfhost-s
                    - selfhost-m
                    - selfhost-l
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/component: runner
    containers:
      - name: runner
        image: ghcr.io/jamesbrink/github-runner-full:latest
        command: ["/home/runner/run.sh"]
        env:
          - name: RUNNER_LABELS
            value: "urandomio-s,selfhost-s"
        resources:
          requests:
            cpu: "1"
            memory: "2Gi"
          limits:
            cpu: "2"
            memory: "4Gi"

containerMode:
  type: "dind"
